<!DOCTYPE html>
<html lang="en">
<head>
  <title>Robot-Interface</title>
</head>
 <form method="post" id="form" action="/">
  <body>
    <h1>Enlight Arduino-Bot interface</h1>
    <!--
      NOTE: These are HTML5 buttons, so by default they have a 'submit' behaviour
      to get around this, we type="button" to remove this behaviour
    -->
    <button type="button" class="box" onclick="addCommand('w')">Forward</button>
    <button type="button" class="box" onclick="addCommand('s')">Back</button>
    <button type="button" class="box" onclick="addCommand('a')">Left</button>
    <button type="button" class="box" onclick="addCommand('d')">Right</button>
    <button type="button" class="box" onclick="undo()">Oops</button>

    <button type="button" class="box" name="commands" onclick="submitCmds()">Submit</button>
    <!--
      Input element we use to pass the commands array
    -->
    <p id="sequence_vis" value=""></p>
    <input type="hidden" name="cmd[cmd]" id="sequence" value=10>
  </body>
  <script type="text/javascript" src="gamepad.js"></script>
  <script>
    const gamepad = new Gamepad();
    gamepad.on('press', 'button_1', () => {
        console.log('UP');
        addCommand('w');
    });
    gamepad.on('press', 'button_2', () => {
        console.log('DOWN');
        addCommand('s');
    });
    gamepad.on('press', 'button_3', () => {
        console.log('RIGHT');
        addCommand('d');
    });
    gamepad.on('press', 'button_4', () => {
        console.log('LEFT');
        addCommand('a');
    });
    gamepad.on('press', 'shoulder_top_left', () => {
        console.log('TRIANGLE');
        undo();
    });
    gamepad.on('press', 'shoulder_top_right', () => {
        console.log('SQUARE // does nothing');
    });
    gamepad.on('press', 'start', () => {
        console.log('start');
        submitCmds();
    });
    gamepad.on('press', 'select', () => {
        console.log('select // does nothing');
    });


    var commands = [];
    function submitCmds() {
      var element = document.getElementById("sequence");
      var str = "";
      for (var i = 0; i < commands.length; i++) {
        str += commands[i];
      }
      element.value = str;
      document.getElementById("form").submit();
    };
    function addCommand(cmd) {
      commands.push(cmd);
      var currSequence = document.getElementById("sequence_vis");
      currSequence.innerHTML = "Commands:";

      for (var i = 0; i < commands.length; i++) {
          currSequence.innerHTML += " " + commands[i];
      }
      console.log(cmd + ' was added to command queue');
      console.log(commands);
    };
    function undo() {
      var cmd = commands.pop();
      var currSequence = document.getElementById("sequence_vis");
      currSequence.innerHTML = "Commands:";
      for (var i = 0; i < commands.length; i++) {
          currSequence.innerHTML += " " + commands[i];
      }
      console.log(cmd + ' was removed from command queue');
      console.log(commands);
    };
  </script>
</form>
